





#Created by Constraints Editor (xc5vlx110t-ff1136-1) - 2013/06/28
#Created by Constraints Editor (xc5vlx110t-ff1136-1) - 2013/06/28
NET "c_1[0]" MAXDELAY = 0.85 ns;
NET "c_1[1]" MAXDELAY = 0.85 ns;
NET "c_1[2]" MAXDELAY = 0.85 ns;
NET "c_1[3]" MAXDELAY = 0.85 ns;
NET "c_1[4]" MAXDELAY = 0.85 ns;
NET "c_1[5]" MAXDELAY = 0.85 ns;
NET "c_1[6]" MAXDELAY = 0.85 ns;
NET "c_1[7]" MAXDELAY = 0.85 ns;
NET "c_1[8]" MAXDELAY = 0.85 ns;
NET "c_1[9]" MAXDELAY = 0.85 ns;
NET "c_1[10]" MAXDELAY = 0.85 ns;
NET "c_1[11]" MAXDELAY = 0.85 ns;
NET "c_1[12]" MAXDELAY = 0.85 ns;
NET "c_1[13]" MAXDELAY = 0.85 ns;
NET "c_1[14]" MAXDELAY = 0.85 ns;
NET "c_1[15]" MAXDELAY = 0.85 ns;
NET "c_1[16]" MAXDELAY = 0.85 ns;
NET "c_1[17]" MAXDELAY = 0.85 ns;
NET "c_1[18]" MAXDELAY = 0.85 ns;
NET "c_1[19]" MAXDELAY = 0.85 ns;
NET "c_1[20]" MAXDELAY = 0.85 ns;
NET "c_1[21]" MAXDELAY = 0.85 ns;
NET "c_1[22]" MAXDELAY = 0.85 ns;
NET "c_1[23]" MAXDELAY = 0.85 ns;
NET "c_1[24]" MAXDELAY = 0.85 ns;
NET "c_1[25]" MAXDELAY = 0.85 ns;
NET "c_1[26]" MAXDELAY = 0.85 ns;
NET "c_1[27]" MAXDELAY = 0.85 ns;
NET "c_1[28]" MAXDELAY = 0.85 ns;
NET "c_1[29]" MAXDELAY = 0.85 ns;
NET "c_1[30]" MAXDELAY = 0.85 ns;
NET "c_1[31]" MAXDELAY = 0.85 ns;
NET "c_2[0]" MAXDELAY = 0.85 ns;
NET "c_2[1]" MAXDELAY = 0.85 ns;
NET "c_2[2]" MAXDELAY = 0.85 ns;
NET "c_2[3]" MAXDELAY = 0.85 ns;
NET "c_2[4]" MAXDELAY = 0.85 ns;
NET "c_2[5]" MAXDELAY = 0.85 ns;
NET "c_2[6]" MAXDELAY = 0.85 ns;
NET "c_2[7]" MAXDELAY = 0.85 ns;
NET "c_2[8]" MAXDELAY = 0.85 ns;
NET "c_2[9]" MAXDELAY = 0.85 ns;
NET "c_2[10]" MAXDELAY = 0.85 ns;
NET "c_2[11]" MAXDELAY = 0.85 ns;
NET "c_2[12]" MAXDELAY = 0.85 ns;
NET "c_2[13]" MAXDELAY = 0.85 ns;
NET "c_2[14]" MAXDELAY = 0.85 ns;
NET "c_2[15]" MAXDELAY = 0.85 ns;
NET "c_2[16]" MAXDELAY = 0.85 ns;
NET "c_2[17]" MAXDELAY = 0.85 ns;
NET "c_2[18]" MAXDELAY = 0.85 ns;
NET "c_2[19]" MAXDELAY = 0.85 ns;
NET "c_2[20]" MAXDELAY = 0.85 ns;
NET "c_2[21]" MAXDELAY = 0.85 ns;
NET "c_2[22]" MAXDELAY = 0.85 ns;
NET "c_2[23]" MAXDELAY = 0.85 ns;
NET "c_2[24]" MAXDELAY = 0.85 ns;
NET "c_2[25]" MAXDELAY = 0.85 ns;
NET "c_2[26]" MAXDELAY = 0.85 ns;
NET "c_2[27]" MAXDELAY = 0.85 ns;
NET "c_2[28]" MAXDELAY = 0.85 ns;
NET "c_2[29]" MAXDELAY = 0.85 ns;
NET "c_2[30]" MAXDELAY = 0.85 ns;
NET "c_2[31]" MAXDELAY = 0.85 ns;




# PlanAhead Generated physical constraints 

INST "adder2/Madd_c_lut<30>" BEL = C6LUT;
INST "adder2/Madd_c_lut<27>" BEL = D6LUT;
INST "adder2/Madd_c_lut<8>" BEL = A6LUT;
INST "adder2/Madd_c_lut<14>" BEL = C6LUT;
INST "adder2/Madd_c_lut<22>" BEL = C6LUT;
INST "adder2/Madd_c_lut<17>" BEL = B6LUT;
INST "adder2/Madd_c_lut<29>" BEL = B6LUT;
INST "adder2/Madd_c_lut<25>" BEL = B6LUT;
INST "adder2/Madd_c_lut<18>" BEL = C6LUT;
INST "adder2/Madd_c_lut<15>" BEL = D6LUT;
INST "adder2/Madd_c_lut<12>" BEL = A6LUT;
INST "adder2/Madd_c_lut<21>" BEL = B6LUT;
INST "adder2/Madd_c_lut<1>" BEL = B6LUT;
INST "adder2/Madd_c_lut<11>" BEL = D6LUT;
INST "adder2/Madd_c_lut<28>" BEL = A6LUT;
INST "adder2/Madd_c_lut<23>" BEL = D6LUT;
INST "adder2/Madd_c_lut<10>" BEL = C6LUT;
INST "adder2/Madd_c_lut<20>" BEL = A6LUT;
INST "adder2/Madd_c_lut<9>" BEL = B6LUT;
INST "adder2/Madd_c_lut<24>" BEL = A6LUT;
INST "adder2/Madd_c_lut<4>" BEL = A6LUT;
INST "adder2/Madd_c_lut<19>" BEL = D6LUT;
INST "adder1/Madd_c_lut<21>" BEL = B6LUT;
INST "adder1/Madd_c_lut<18>" BEL = C6LUT;
INST "adder1/Madd_c_lut<17>" BEL = B6LUT;
INST "adder1/Madd_c_lut<8>" BEL = A6LUT;
INST "adder1/Madd_c_lut<31>" BEL = D6LUT;
INST "adder1/Madd_c_lut<9>" BEL = B6LUT;
INST "adder1/Madd_c_lut<16>" BEL = A6LUT;
INST "adder1/Madd_c_lut<19>" BEL = D6LUT;
INST "adder1/Madd_c_lut<20>" BEL = A6LUT;
INST "adder1/Madd_c_lut<15>" BEL = D6LUT;
INST "adder1/Madd_c_lut<10>" BEL = C6LUT;
INST "adder1/Madd_c_lut<6>" BEL = C6LUT;
INST "adder1/Madd_c_lut<5>" BEL = B6LUT;
INST "adder1/Madd_c_lut<11>" BEL = D6LUT;
INST "adder1/Madd_c_lut<14>" BEL = C6LUT;
INST "adder1/Madd_c_lut<22>" BEL = C6LUT;
INST "adder1/Madd_c_lut<13>" BEL = B6LUT;
INST "adder1/Madd_c_lut<12>" BEL = A6LUT;
INST "adder1/Madd_c_lut<4>" BEL = A6LUT;
INST "adder1/Madd_c_lut<26>" BEL = C6LUT;
INST "adder1/Madd_c_lut<25>" BEL = B6LUT;
INST "adder1/Madd_c_lut<24>" BEL = A6LUT;
INST "adder1/Madd_c_lut<23>" BEL = D6LUT;
INST "adder1/Madd_c_lut<30>" BEL = C6LUT;
INST "adder2/Madd_c_lut<16>" BEL = A6LUT;
INST "adder2/Madd_c_lut<0>" BEL = A6LUT;
INST "adder1/Madd_c_lut<29>" BEL = B6LUT;
INST "adder2/Madd_c_lut<2>" BEL = C6LUT;
INST "adder1/Madd_c_lut<27>" BEL = D6LUT;
INST "adder2/Madd_c_lut<31>" BEL = D6LUT;
INST "adder1/Madd_c_lut<1>" BEL = B6LUT;
INST "adder2/Madd_c_lut<5>" BEL = B6LUT;
INST "adder1/Madd_c_lut<0>" BEL = A6LUT;
INST "adder1/Madd_c_lut<28>" BEL = A6LUT;
INST "adder2/Madd_c_lut<26>" BEL = C6LUT;
INST "adder2/Madd_c_lut<7>" BEL = D6LUT;
INST "adder2/Madd_c_lut<6>" BEL = C6LUT;
INST "adder2/Madd_c_lut<13>" BEL = B6LUT;
INST "adder1/Madd_c_lut<7>" BEL = D6LUT;
INST "adder1/Madd_c_lut<3>" BEL = D6LUT;
INST "adder2/Madd_c_lut<3>" BEL = D6LUT;
INST "adder1/Madd_c_lut<2>" BEL = C6LUT;
INST "d32/d0/q" BEL = DFF;
INST "d32/d1/q" BEL = DFF;
INST "d32/d24/q" BEL = DFF;
INST "d32/d3/q" BEL = DFF;
INST "d32/d4/q" BEL = DFF;
INST "d32/d5/q" BEL = DFF;
INST "d32/d25/q" BEL = DFF;
INST "d32/d7/q" BEL = DFF;
INST "d32/d8/q" BEL = DFF;
INST "d32/d9/q" BEL = DFF;
INST "d32/d31/q" BEL = DFF;
INST "d32/d11/q" BEL = DFF;
INST "d32/d12/q" BEL = DFF;
INST "d32/d13/q" BEL = DFF;
INST "d32/d27/q" BEL = DFF;
INST "d32/d15/q" BEL = DFF;
INST "d32/d16/q" BEL = DFF;
INST "d32/d17/q" BEL = DFF;
INST "d32/d28/q" BEL = DFF;
INST "d32/d19/q" BEL = DFF;
INST "d32/d20/q" BEL = DFF;
INST "d32/d21/q" BEL = DFF;
INST "d32/d29/q" BEL = DFF;
INST "d32/d23/q" BEL = DFF;
INST "d32/d2/q" BEL = DFF;
INST "d32/d30/q" BEL = DFF;
INST "d32/d26/q" BEL = DFF;
INST "d32/d22/q" BEL = DFF;
INST "d32/d18/q" BEL = DFF;
INST "d32/d14/q" BEL = DFF;
INST "d32/d10/q" BEL = DFF;
INST "d32/d6/q" BEL = DFF;
INST "adder2/Madd_c_lut<7>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_lut<15>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_lut<31>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_lut<3>" LOC = SLICE_X14Y112;
INST "adder1/Madd_c_lut<31>" LOC = SLICE_X12Y119;
INST "adder2/Madd_c_lut<19>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_lut<27>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_lut<23>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_lut<11>" LOC = SLICE_X14Y114;
INST "adder1/Madd_c_lut<19>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_lut<11>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_lut<7>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_lut<15>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_lut<23>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_lut<27>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_lut<3>" LOC = SLICE_X12Y112;
INST "adder2/Madd_c_lut<0>" LOC = SLICE_X14Y112;
INST "adder1/Madd_c_lut<2>" LOC = SLICE_X12Y112;
INST "adder2/Madd_c_lut<5>" LOC = SLICE_X14Y113;
INST "adder1/Madd_c_lut<0>" LOC = SLICE_X12Y112;
INST "adder2/Madd_c_lut<1>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_lut<24>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_lut<2>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_lut<9>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_lut<8>" LOC = SLICE_X14Y114;
INST "adder1/Madd_c_lut<29>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_lut<8>" LOC = SLICE_X12Y114;
INST "adder2/Madd_c_lut<10>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_lut<14>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_lut<12>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_lut<6>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_lut<17>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_lut<16>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_lut<20>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_lut<28>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_lut<13>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_lut<30>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_lut<25>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_lut<22>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_lut<26>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_lut<21>" LOC = SLICE_X14Y117;
INST "adder1/Madd_c_lut<22>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_lut<18>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_lut<30>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_lut<9>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_lut<1>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_lut<10>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_lut<17>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_lut<20>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_lut<21>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_lut<16>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_lut<6>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_lut<12>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_lut<14>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_lut<13>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_lut<5>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_lut<26>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_lut<25>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_lut<24>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_lut<4>" LOC = SLICE_X12Y113;
INST "adder2/Madd_c_lut<18>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_lut<4>" LOC = SLICE_X14Y113;
INST "adder1/Madd_c_lut<28>" LOC = SLICE_X12Y119;
INST "adder2/Madd_c_lut<29>" LOC = SLICE_X14Y119;
INST "d32/d0/q" LOC = SLICE_X16Y112;
INST "d32/d1/q" LOC = SLICE_X18Y112;
INST "d32/d24/q" LOC = SLICE_X16Y118;
INST "d32/d3/q" LOC = SLICE_X22Y112;
INST "d32/d4/q" LOC = SLICE_X16Y113;
INST "d32/d5/q" LOC = SLICE_X18Y113;
INST "d32/d25/q" LOC = SLICE_X18Y118;
INST "d32/d7/q" LOC = SLICE_X22Y113;
INST "d32/d8/q" LOC = SLICE_X16Y114;
INST "d32/d9/q" LOC = SLICE_X18Y114;
INST "d32/d31/q" LOC = SLICE_X22Y119;
INST "d32/d11/q" LOC = SLICE_X22Y114;
INST "d32/d12/q" LOC = SLICE_X16Y115;
INST "d32/d13/q" LOC = SLICE_X18Y115;
INST "d32/d27/q" LOC = SLICE_X22Y118;
INST "d32/d15/q" LOC = SLICE_X22Y115;
INST "d32/d16/q" LOC = SLICE_X16Y116;
INST "d32/d17/q" LOC = SLICE_X18Y116;
INST "d32/d28/q" LOC = SLICE_X16Y119;
INST "d32/d19/q" LOC = SLICE_X22Y116;
INST "d32/d20/q" LOC = SLICE_X16Y117;
INST "d32/d21/q" LOC = SLICE_X18Y117;
INST "d32/d29/q" LOC = SLICE_X18Y119;
INST "d32/d23/q" LOC = SLICE_X22Y117;
INST "d32/d2/q" LOC = SLICE_X20Y112;
INST "d32/d30/q" LOC = SLICE_X20Y119;
INST "d32/d26/q" LOC = SLICE_X20Y118;
INST "d32/d22/q" LOC = SLICE_X20Y117;
INST "d32/d18/q" LOC = SLICE_X20Y116;
INST "d32/d14/q" LOC = SLICE_X20Y115;
INST "d32/d10/q" LOC = SLICE_X20Y114;
INST "d32/d6/q" LOC = SLICE_X20Y113;
INST "adder1/Madd_c_cy<25>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_cy<21>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_xor<29>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_xor<12>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_cy<17>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_xor<9>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_xor<11>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_xor<17>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_cy<14>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_xor<28>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_xor<21>" LOC = SLICE_X12Y117;
INST "adder2/Madd_c_cy<26>" LOC = SLICE_X14Y118;
INST "adder1/Madd_c_xor<20>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_cy<20>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_xor<0>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_cy<24>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_xor<5>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_xor<3>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_cy<12>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_xor<2>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_cy<30>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_xor<30>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_cy<3>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_cy<23>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_cy<26>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_cy<10>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_cy<9>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_xor<26>" LOC = SLICE_X12Y118;
INST "adder2/Madd_c_cy<23>" LOC = SLICE_X14Y117;
INST "adder1/Madd_c_xor<1>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_xor<15>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_xor<24>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_xor<14>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_cy<2>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_cy<27>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_xor<22>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_xor<23>" LOC = SLICE_X12Y117;
INST "adder1/Madd_c_xor<16>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_xor<31>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_cy<5>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_xor<8>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_cy<19>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_xor<18>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_xor<10>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_xor<7>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_cy<0>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_xor<4>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_xor<27>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_cy<16>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_xor<13>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_cy<4>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_xor<25>" LOC = SLICE_X12Y118;
INST "adder1/Madd_c_cy<13>" LOC = SLICE_X12Y115;
INST "adder1/Madd_c_cy<29>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_cy<6>" LOC = SLICE_X12Y113;
INST "adder2/Madd_c_xor<26>" LOC = SLICE_X14Y118;
INST "adder1/Madd_c_cy<11>" LOC = SLICE_X12Y114;
INST "adder1/Madd_c_xor<6>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_xor<19>" LOC = SLICE_X12Y116;
INST "adder1/Madd_c_cy<28>" LOC = SLICE_X12Y119;
INST "adder1/Madd_c_cy<22>" LOC = SLICE_X12Y117;
INST "adder2/Madd_c_xor<27>" LOC = SLICE_X14Y118;
INST "adder1/Madd_c_cy<7>" LOC = SLICE_X12Y113;
INST "adder1/Madd_c_cy<15>" LOC = SLICE_X12Y115;
INST "adder2/Madd_c_cy<6>" LOC = SLICE_X14Y113;
INST "adder1/Madd_c_cy<1>" LOC = SLICE_X12Y112;
INST "adder1/Madd_c_cy<8>" LOC = SLICE_X12Y114;
INST "adder2/Madd_c_xor<12>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_cy<5>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_xor<17>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_xor<13>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_xor<3>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_xor<23>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_cy<4>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_cy<1>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_xor<29>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_cy<13>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_xor<30>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_xor<2>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_xor<8>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_xor<5>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_cy<20>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_cy<10>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_cy<11>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_xor<6>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_xor<24>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_cy<18>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_xor<21>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_cy<28>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_cy<7>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_cy<29>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_cy<9>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_cy<27>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_xor<28>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_cy<14>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_xor<1>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_xor<4>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_cy<15>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_xor<14>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_cy<3>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_xor<18>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_xor<9>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_xor<22>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_cy<2>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_xor<20>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_xor<11>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_cy<16>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_cy<8>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_cy<0>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_cy<22>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_cy<17>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_xor<10>" LOC = SLICE_X14Y114;
INST "adder2/Madd_c_xor<0>" LOC = SLICE_X14Y112;
INST "adder2/Madd_c_xor<15>" LOC = SLICE_X14Y115;
INST "adder2/Madd_c_xor<31>" LOC = SLICE_X14Y119;
INST "adder2/Madd_c_xor<19>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_cy<24>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_cy<19>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_xor<16>" LOC = SLICE_X14Y116;
INST "adder2/Madd_c_cy<21>" LOC = SLICE_X14Y117;
INST "adder2/Madd_c_xor<25>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_cy<25>" LOC = SLICE_X14Y118;
INST "adder2/Madd_c_cy<30>" LOC = SLICE_X14Y119;
INST "adder1/Madd_c_cy<18>" LOC = SLICE_X12Y116;
INST "adder2/Madd_c_xor<7>" LOC = SLICE_X14Y113;
INST "adder2/Madd_c_cy<12>" LOC = SLICE_X14Y115;
